* {
  padding: 0;
  margin: 0;
  font-family: "Gideon Roman", cursive;
}
header {
  grid-area: header;
}
article {
  grid-area: articulo;
}
form {
  grid-area: formulario;
}
footer {
  grid-area: footer;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "articulo articulo articulo"
    "formulario formulario formulario"
    "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15% 70% 1fr;
}
.header {
  background: #000000;
  border-bottom: 2px solid #0c86f0;
  display: flex;
  justify-content: space-between;
}
body {
  background: #ffffff;
}
ul {
  list-style: none;
  display: inline-block;
  width: 200px;
  height: 50px;
}
ul:hover {
  box-shadow: 1px 2px 5px 0 #000000;
}
.botonsito {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-left: 10px;
}
ul li {
  position: relative;
  width: 200px;
}
ul li ul {
  position: absolute;
  background: #000000;
  width: 100%;
  height: 400px;
  text-align: center;
  display: none;
}
ul li ul li {
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li ul li a {
  color: #cccccc;
  text-decoration: none;
}
ul li ul li:hover {
  background: #222222;
  box-shadow: 1px 2px 5px 0 #333333;
}
ul li:hover ul {
  display: block;
}
ul li:hover ul li {
  height: 25%;
}
.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
#logo {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.header__titulo {
  display: inline-block;
  font-size: 40px;
  display: flex;
  justify-content: left;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navegador {
  display: inline-block;
  width: 200px;
  display: flex;
  justify-content: right;
}
.navegador__text {
  display: inline-block;
}
.navegador__text img {
  margin-top: 30px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.articulo__h {
  margin-top: 10px;
  color: #000000;
  margin-left: 10px;
}
.botones {
  width: 46.5%;
  height: 40px;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #48f091;
  background: linear-gradient(to bottom, transparent, #cccccc);
  box-shadow: 1px 2px 5px 0 #222222;
}
.botones::placeholder {
  padding-left: 5px;
  color: #000000;
}
.botones:focus {
  padding-left: 10px;
}
.area {
  display: block;
  height: 200px;
  width: 95%;
  margin-left: 10px;
  margin-top: 10px;
  resize: none;
  background: linear-gradient(to bottom, transparent, #cccccc);
  box-shadow: 1px 2px 5px 0 #222222;
  border-bottom: 1px solid #48f091;
  font-size: 16px;
}
.area::placeholder {
  color: #000000;
  font-size: 16px;
  padding: 5px;
}
.area:focus {
  padding: 10px;
}
.send {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}
.botonsitos {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background: linear-gradient(to bottom, transparent, #cccccc);
  box-shadow: 1px 2px 5px #222222;
  color: #000000;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #48f091;
}
.pie {
  background: #000000;
  border-top: 2px solid #0c86f0;
}
.pie p {
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 18px;
}
.pie a img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
.redes {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 425px) {
  .lineas {
    width: 50px;
  }
  .navegador {
    width: 50px;
  }
  .botones {
    width: 90%;
  }
  .area {
    width: 90%;
  }
  .send {
    margin: 15px;
  }
  .pie p {
    font-size: 12px;
  }
}
