* {
  margin: 0;
  padding: 0;
  font-family: "Gideon Roman", cursive;
}
header {
  grid-area: header;
}
section {
  grid-area: section;
}
footer {
  grid-area: footer;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "section section section"
    "section section section"
    "footer footer footer";
  grid-auto-columns: 1fr 30% 1fr;
  grid-auto-rows: 1fr 50% 50% 1fr;
}
.header {
  background: #000000;
  border-bottom: 2px solid #0c86f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100wh;
}
body {
  background: #ffffff;
}
ul {
  list-style: none;
  display: inline-block;
  height: 50px;
  width: 200px;
}
ul:hover {
  box-shadow: 1px 2px 5px 0 #000000;
}
.botonsito {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
ul li {
  position: relative;
  width: 200px;
}
ul li ul {
  position: absolute;
  background: #000000;
  width: 100%;
  height: 400px;
  text-align: center;
  display: none;
}
ul li ul li {
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li ul li a {
  color: #cccccc;
  text-decoration: none;
}
ul li ul li:hover {
  background: #222222;
  box-shadow: 1px 2px 5px 0 #333333;
}
ul li:hover ul {
  display: block;
}
ul li:hover ul li {
  height: 25%;
}
.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
#logo {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.header__titulo {
  display: inline-block;
  font-size: 40px;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navegador {
  display: inline-block;
  width: 200px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
}
.navegador__text {
  display: inline-block;
}
.navegador__text img {
  width: 50px;
  height: 50px;
}
.seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.seccion__text {
  display: block;
  color: #333333;
  font-size: 40px;
  text-shadow: 1px 1px 2px #333333;
}
.seccion__p {
  color: #333333;
  display: block;
  font-size: 25px;
  text-shadow: 1px 1px 5px #cccccc;
  width: 70%;
}
.seccion__imagen {
  display: block;
  width: 70%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0 #000000;
}
.pie {
  background: #000000;
  border-top: 2px solid #0c86f0;
  width: 100wh;
}
.pie__p {
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 18px;
}
.redes {
  display: flex;
  justify-content: space-around;
}
.redes__img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
@media (max-width: 425px) {
  .lineas {
    width: 50px;
  }
  .navegador {
    width: 50px;
  }
  .seccion__imagen {
    height: 300px;
  }
  .pie__p {
    font-size: 12px;
  }
  .seccion__text {
    font-size: 35px;
  }
  .seccion__imagen {
    width: 90%;
  }
  .seccion__p {
    font-size: 20px;
    width: 90%;
  }
}
