* {
  padding: 0;
  margin: 0;
  font-family: "Gideon Roman", cursive;
}
header {
  grid-area: header;
}
.trabajo {
  grid-area: trabajo;
}
.trabajodos {
  grid-area: trabajodos;
}
footer {
  grid-area: footer;
}
.carousel{
  grid-area: carro;
}
.d-block{
  height: 300px;
}
.ancho{
  width: 90%;
  margin: auto;
}
.w-100{
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 1px 2px 5px 0 #000;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "trabajo trabajo trabajo"
    "trabajodos trabajodos trabajodos"
    "carro carro caroo"
    "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 35% 35% 30% 1fr;
}
.header {
  background: #000000;
  border-bottom: 2px solid #0c86f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  background: #ffffff;
}
ul {
  list-style: none;
  display: inline-block;
  height: 50px;
  width: 200px;
}
ul:hover {
  box-shadow: 1px 2px 5px 0 #000000;
}
.botonsito {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  animation-name: efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-delay: 0;
}
ul li {
  position: relative;
  width: 50px;
  height: 50px;
}
ul li ul {
  position: absolute;
  background: #000000;
  width: 400%;
  height: 400px;
  display: flex;
  display: none;
}
ul li ul li {
  border-top: 1px solid #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li ul li a {
  color: #cccccc;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
ul li ul li:hover {
  background: #222222;
  box-shadow: 1px 2px 5px 0 #333333;
}
ul li:hover ul{
  display: block;
}
ul li:hover ul li {
  height: 25%;
}
.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  animation-name: efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-delay: 0;
}
@keyframes efecto{
0%{
  transform: scale(0.1)
}
11%{
  transform: scale(0.2)
}
22%{
  transform: scale(0.3)
}
33%{
  transform: scale(0.4)
}
44%{
  transform: scale(0.5)
}
55%{
  transform: scale(0.6)
}
66%{
  transform: scale(0.7)
}
77%{
  transform: scale(0.8)
}
88%{
  transform: scale(0.9)
}
100%{
  transform: scale(1)
}
}
#logo {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.header__titulo {
  display: inline-block;
  font-size: 40px;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navegador {
  display: inline-block;
  width: 200px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
}
.navegador__text {
  display: inline-block;
  animation-name: efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-delay: 0;
}
.navegador__text img {
  width: 50px;
  height: 50px;
}
.trabajo {
  display: flex;
}
.letras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trabajo__titulouno {
  margin-top: 40px;
}
#parrafouno {
  width: 70%;
  margin-top: 40px;
  display: inline;
}
#fotouno {
  width: 45%;
  height: 300px;
  margin-top: 40px;
  margin-right: 5%;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 0 #000000;
}
.trabajodos {
  display: flex;
  flex-direction: row-reverse;
}
.letrasdos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trabajodos__titulodos {
  margin-top: 40px;
}
#parrafodos {
  width: 70%;
  margin-top: 40px;
}
#fotodos {
  width: 45%;
  height: 300px;
  margin-top: 40px;
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 0 #000000;
}
.pie {
  background: #000000;
  border-top: 2px solid #0c86f0;
  width: 100wh;
}
.pie__h1{
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 25px;
}
.pie__p2{
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 18px;
}
.pie__p {
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 18px;
}
.texto_pie{
  display: block
}
.contacto{
  display: block;
  width: 100%;
  float: right;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.redes__img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px){
#grilla {
  grid-template-rows: 1fr 35% 35% 20% 1fr;
  }
  .navegador {
    width: 50px;
  }
  .lineas {
    width: 50px;
  }
  .trabajo {
    flex-direction: column;
  }
  .trabajodos {
    flex-direction: column;
  }
  .imagen {
    align-self: center;
  }
  #parrafouno {
    width: 90%;
  }
  #parrafodos {
    width: 90%;
  }
  #fotouno {
    width: 90%;
    margin: 5%;
  }
  #fotodos {
    width: 90%;
    margin: 5%;
  }
}
