* {
  padding: 0;
  margin: 0;
  font-family: "Gideon Roman", cursive;
}
header {
  grid-area: header;
}
.trabajo {
  grid-area: trabajo;
}
.trabajodos {
  grid-area: trabajodos;
}
footer {
  grid-area: footer;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "trabajo trabajo trabajo"
    "trabajodos trabajodos trabajodos"
    "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40% 40% 1fr;
}
.header {
  background: #000000;
  border-bottom: 2px solid #0c86f0;
  display: flex;
  justify-content: space-between;
}
body {
  background: #ffffff;
}
ul {
  list-style: none;
  display: inline-block;
  height: 50px;
}
ul:hover {
  box-shadow: 1px 2px 5px 0 #000000;
}
.botonsito {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-left: 10px;
}
ul li {
  position: relative;
  width: 200px;
}
ul li ul {
  position: absolute;
  background: #000000;
  width: 100%;
  height: 400px;
  text-align: center;
  display: none;
}
ul li ul li {
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li ul li a {
  color: #cccccc;
  text-decoration: none;
}
ul li ul li:hover {
  background: #222222;
  box-shadow: 1px 2px 5px 0 #333333;
}
ul li:hover ul {
  display: block;
}
ul li:hover ul li {
  height: 25%;
}
.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
#logo {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.header__titulo {
  display: inline-block;
  font-size: 40px;
  display: flex;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navegador {
  display: inline-block;
  width: 200px;
  display: flex;
  justify-content: right;
}
.navegador__text {
  display: inline-block;
}
.navegador__text img {
  margin-top: 30px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.trabajo {
  display: flex;
}
.letras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trabajo__titulouno {
  margin-top: 40px;
}
#parrafouno {
  width: 70%;
  margin-top: 40px;
  display: inline;
}
#fotouno {
  width: 45%;
  height: 300px;
  margin-top: 40px;
  margin-right: 5%;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 0 #000000;
}
.trabajodos {
  display: flex;
  flex-direction: row-reverse;
}
.letrasdos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trabajodos__titulodos {
  margin-top: 40px;
}
#parrafodos {
  width: 70%;
  margin-top: 40px;
}
#fotodos {
  width: 45%;
  height: 300px;
  margin-top: 40px;
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 0 #000000;
}
.pie {
  background: #000000;
  border-top: 2px solid #0c86f0;
}
.pie p {
  text-align: center;
  background: linear-gradient(to bottom, #48f091, #0c86f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-size: 18px;
}
.pie a img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
.redes {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 425px) {
  #grilla {
    grid-template-rows: 1fr 45% 45% 1fr;
  }
  .navegador {
    width: 50px;
  }
  .lineas {
    width: 50px;
  }
  .trabajo {
    flex-direction: column;
  }
  .trabajodos {
    flex-direction: column;
  }
  .imagen {
    align-self: center;
  }
  #parrafouno {
    width: 90%;
  }
  #parrafodos {
    width: 90%;
  }
  #fotouno {
    width: 90%;
    margin: 5%;
  }
  #fotodos {
    width: 90%;
    margin: 5%;
  }
}
